name: Security

on:
  schedule:
    - cron: "23 5 * * 1"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  cargo-deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - uses: taiki-e/install-action@f176c07a0a40cbfdd08ee9aa8bf1655701d11e69
        with:
          tool: cargo-deny
      - name: Check Rust dependency policy
        run: cargo deny check all
